$img-cabecera: url("../img/Endo3.JPG");
$fuente-pagina: 'Inter', sans-serif;
$fuente-pagina-2: sans-serif;
$color-letra-cabecera: azure;
$color-nav: #0077b6;
$color-nav-2: #024264;


@mixin imag($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
